@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


.geom {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


:root{
  --colour-primary : #025964;
  --colour-secondary : #013a3f;

    --gradient-primary: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
  
}